<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projeto_Restaurante.Properties.Settings.BD_RESTAURANTEConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BD_RESTAURANTE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>